@font-face {
  font-family: "FuturaPT";
  src: url("./fonts/FuturaPT-Book.eot") format("eot"),
    url("./fonts/FuturaPT-Book.ttf") format("truetype"),
    url("./fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}